body {
    margin: auto;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 575px;
    height: 385px;
    margin: auto;   
}

@font-face {
    src: url("/CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimer;
}

h1 {
    font-family: CursedTimer;
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400;
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    line-height: 126px;
    
}

h3 {
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
    height: 36px;
    width: 149px;
    line-height: 35.89px;

}

button {
    height: 45px;
    width: 45px;
    border: 2px #9AABD8 solid;
    border-radius: 5px;
    font-family: CursedTimer;
    font-size: 18px;
    font-weight: 400;
    color: #9AABD8;
    background-color: #1B244A;

}
    
#restart-btn {
    width: 100px;
    display: block;
    margin: auto;
}